EcollReconFacility/Service References/EcollReconWCF/EcollReconWS2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.19.29.30/EcollReconWCF/EcollReconWS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EcollReconWCF" />
  <xs:import schemaLocation="http://172.19.29.30/EcollReconWCF/EcollReconWS.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EcollReconWCF" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EcollReconWCF" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IngDataTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcedureName" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="IngFields" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IngDataTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EcollReconWCF" minOccurs="0" name="IngDataTableResult" type="q4:IngDTResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IngDataTableCmdText">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CommandText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IngDataTableCmdTextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EcollReconWCF" minOccurs="0" name="IngDataTableCmdTextResult" type="q5:IngDTResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IngDataTableMultiProc">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProcedureName" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IngDataTableMultiProcResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EcollReconWCF" minOccurs="0" name="IngDataTableMultiProcResult" type="q7:IngDTResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="genTransSRTNoNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="noOfSRT" type="xs:int" />
        <xs:element minOccurs="0" name="tranMatrix" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="genTransSRTNoNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EcollReconWCF" minOccurs="0" name="genTransSRTNoNewResult" type="q8:IngDTResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IngDataTableMultiProcWithTKT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProcedureName" nillable="true" type="q9:ArrayOfstring" />
        <xs:element minOccurs="0" name="tktProcedureName" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tktParams" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IngDataTableMultiProcWithTKTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/EcollReconWCF" minOccurs="0" name="IngDataTableMultiProcWithTKTResult" type="q11:IngDTResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>